<p><em>csvcat</em> concatenates several homogenous CSV files into a single file.</p>
<h1>Usage</h1>
<h2>Drag and drop</h2>
<h3>Whole folder</h3>
<ul>
<li>Drag and drop a folder containing CSV files onto the <em>csvcat</em> icon</li>
<li>Aternatively, start the <em>csvcat</em> application, then drag and drop a folder containing CSV files into its window.</li>
</ul>
<p><em>output file will be created in the same location as the dropped folder.</em></p>
<h3>Several files</h3>
<ul>
<li>Drag and drop several CVS files onto the <em>csvcat</em> icon. </li>
<li>Alternatively, start the <em>csvcat</em> applicartion, then drag and drop files into it’s window.</li>
</ul>
<p><em>output file will be created in the same location as the first input file.</em></p>
<h2>Command line</h2>
<p>TD</p>
